:local .chatgpt-robot {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 500px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px #d9d9d9;
  font-size: 14px;
  transition: width 0.5s;
  width: 0;
  height: 600px;
  overflow: hidden;
}

.chatgpt-robot-open {
  width: 500px;
  height: 600px;
}


.chatgpt-robot-close {
  width: 0;
  height: 0;
}

.chatgpt-robot-header {
  font-weight: 700;
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.chatgpt-robot-message {
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 20px;
}