.chat-robot-message {
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 14px;
  text-align: left;
}

.chat-robot-message.not-reply {
  flex-direction: row-reverse;
}

.chat-robot-message.not-reply .message-content {
  background: rgb(244, 244, 244);
  color: #333;
  text-align: left;
}

.chat-robot-message.not-reply .sender {
  text-align: right;
}

.chat-robot-message.reply .message-content {
  background: #36f;
  color: #fff;
  text-align: left;
}

.message-content {
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 400px;
  background: #36f;
  color: #fff;
}


.text {
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0;
}

.avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin-left: 5px;
  object-fit: cover;
}

.sender {
  font-weight: 12px;
  margin-bottom: 0.125rem;
  margin-top: 0;
  color: #999;
  text-align: left;
}

.mr-5px {
  margin-right: 5px;
}